<goab-column-layout>
  <section slot="header">
    <goab-microsite-header
      type="beta"
      version="Angular 1.0"
      feedbackUrl="https://github.com/GovAlta/ui-components/issues/new/choose">
    </goab-microsite-header>
    <goab-app-header url="/" heading="Design system templates" maxContentWidth="100%">
    </goab-app-header>
  </section>

  <goa-page-block width="100%">
   <!-- Write your code here -->
    <form [formGroup]="form">
      <goab-block gap="m" direction="column">
        <goab-form-item label="Full Name" mb="xl">
          <goab-input
            name="fullName"
            formControlName="fullName"
            type="text"
            textAlign="left"
            width="100%"
          ></goab-input>
        </goab-form-item>

        <goab-form-item label="Account Number" helpText="This input is right aligned." mb="xl">
          <goab-input
            name="accountNumber"
            formControlName="accountNumber"
            textAlign="right"
            width="15ch"
          ></goab-input>
        </goab-form-item>

        <goab-form-item label="Price" helpText="The input number component is right aligned by default." mb="xl">
          <goab-input-number
            name="price"
            formControlName="price"
            width="7ch"
          >
            <div slot="trailingContent">
              <span [style.white-space]="'nowrap'">per item</span>
            </div>
          </goab-input-number>
        </goab-form-item>

        <goab-form-item label="Quantity" helpText="You can set a number input to be left aligned." mb="xl">
          <goab-input-number
            name="quantity"
            formControlName="quantity"
            textAlign="left"
            width="7ch"
          ></goab-input-number>
        </goab-form-item>
      </goab-block>
    </form>




  </goa-page-block>

  <section slot="footer">
    <goab-app-footer maxContentWidth="100%">
      <goab-app-footer-meta-section slot="meta">
        <a href="https://goa-dio.slack.com/archives/C02PLLT9HQ9">
          Get help
        </a>
        <a href="https://goa-dio.atlassian.net/wiki/spaces/DS/pages/2342813697/Design+System+Drop-in+hours">
          Drop-in Hours
        </a>
        <a href="https://github.com/GovAlta/ui-components/issues/new/choose">
          Contribute
        </a>
      </goab-app-footer-meta-section>
    </goab-app-footer>
  </section>
</goab-column-layout>
