<goa-two-column-layout maxcontentwidth="1400px" navcolumnwidth="30ch">
  <section slot="header">
    <goab-microsite-header type="alpha" level="alpha" version="UAT"></goab-microsite-header>
    <goab-app-header heading="Design Systems" maxcontentwidth="1500px" [fullmenubreakpoint]="1700">
      <a href="/get-started">Get started
      </a>
      <a href="/patterns">Patterns and templates</a>
      <a href="/components">Components</a>
      <a href="/design-tokens">Styles</a>
      <a href="/content/capitalization">Content</a>
      <a href="/support">Support</a>
      <a href="https://github.com/GovAlta/ui-components/issues/new/choose" target="_blank">
        Report a bug
      </a>
      <a href="#">Support</a>
      <goab-app-header-menu heading="Tickets" leadingIcon="ticket">
        <a href="#">Cases</a>
        <a href="#">Payments</a>
        <a href="#">Outstanding</a>
      </goab-app-header-menu>
      <a href="#" className="interactive">Sign in</a>
    </goab-app-header>
  </section>

  <section slot="nav">
    <goab-side-menu>
<!--      <goab-side-menu-group heading="Bugs">-->

<!--      </goab-side-menu-group>-->
      <!-- <goab-side-menu-group heading="Components">
        <a routerLink="/date-picker">Date picker</a>
      </goab-side-menu-group> -->
      <a href="/date-picker">Go to date picker examples</a>
      <a href="/modal">Go to modal examples</a>
      <a href="/dropdown">Go to dropdown</a>
      <a href="/file-uploader">Go to file uploader examples</a>
      <a href="/input">Go to input examples</a>
      <a href="/dropdown-add-item-dynamically">Go to dropdown add items dynamically</a>
      <a href="/accordion">Go to accordion examples</a>
      <a href="/callout">Go to callout examples</a>
      <a href="/container">Go to container examples</a>
      <a href="/details">Go to details examples</a>
      <a href="/hero-banner">Go to hero banner examples</a>
      <a href="/list">Go to list examples</a>
      <a href="/popover">Go to popover examples</a>
      <a href="/table">Go to table examples</a>
      <a href="/text">Go to text examples</a>
      <a href="/badge">Go to badge examples</a>
      <a href="/filter-chip">Go to filter chip examples</a>
      <a href="/notification-banner">Go to notification banner examples</a>
      <a href="/progress-indicator">Go to progress indicator examples</a>
      <a href="/skeleton-loader">Go to skeleton loader examples</a>
      <a href="/temporary-notification">Go to temporary notification examples</a>
      <a href="/tooltip">Go to tooltip examples</a>
      <a href="/button">Go to button examples</a>
      <a href="/menu-button">Go to menu button</a>
      <a href="/checkbox">Go to checkbox examples</a>
      <a href="/checkbox-list">Checkbox List</a>
      <a href="/radio">Go to radio examples</a>
      <a href="/text-area">Go to text area examples</a>
      <a href="/drawer">Go to drawer examples</a>
      <a href="/footer">Go to footer examples</a>
      <a href="/header">Go to header examples</a>
      <a href="/microsite-header">Go to microsite header examples</a>
      <a href="/pagination">Go to pagination examples</a>
      <a href="/side-menu">Go to side menu examples</a>
      <a href="/tabs">Go to Tabs</a>
      <a href="/blocks">Blocks</a>
      <a href="/full-public-form-page">Full public form page</a>
      <a href="/public-form-checkbox">Public form with checkbox</a>
      <a href="/public-form-datepicker">Public form with date picker</a>
      <a href="/public-form-dropdown">Public form with dropdown</a>
      <a href="/public-form-radio">Public form with radio</a>
      <a href="/public-form-textarea">Public form with textarea</a>
      <a href="/public-form-sub-form">Public form with subform</a>
    </goab-side-menu>
  </section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <goab-app-footer slot="footer" maxContentWidth="1400px"></goab-app-footer>
</goa-two-column-layout>
