.app-shell {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--goa-color-greyscale-100);
}

.app-content {
  flex: 1;
  overflow: auto;
  padding: var(--goa-space-l);
  background-color: var(--goa-color-greyscale-white);
}

@media (max-width: 623px) {
  .app-shell {
    display: block;
  }
}
