<goa-one-column-layout>
  <section slot="header">
    <goa-microsite-header
      type="beta"
      version="Angular 1.0"
      feedbackUrl="https://github.com/GovAlta/ui-components/issues/new/choose">
    </goa-microsite-header>
    <goa-app-header url="/" heading="Design system templates" maxContentWidth="100%">
    </goa-app-header>
  </section>

  <goa-page-block width="100%">
    <goa-table (_sort)="handleSort($event)" width="100%">
      <thead>
      <tr>
        <th>
          <goa-table-sort-header name="firstName">
            First name
          </goa-table-sort-header>
        </th>
        <th>
          <goa-table-sort-header name="lastName">
            Last name
          </goa-table-sort-header>
        </th>
        <th>
          <goa-table-sort-header name="age" direction="asc">
            Age
          </goa-table-sort-header>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>
          {{ user.firstName }}
        </td>
        <td>
          {{ user.lastName }}
        </td>
        <td>
          {{ user.age }}
        </td>
      </tr>
      </tbody>
    </goa-table>
  </goa-page-block>

  <section slot="footer">
    <goa-app-footer maxContentWidth="100%">
      <goa-app-footer-meta-section slot="meta">
        <a href="https://goa-dio.slack.com/archives/C02PLLT9HQ9">
          Get help
        </a>
        <a href="https://goa-dio.atlassian.net/wiki/spaces/DS/pages/2342813697/Design+System+Drop-in+hours">
          Drop-in Hours
        </a>
        <a href="https://github.com/GovAlta/ui-components/issues/new/choose">
          Contribute
        </a>
      </goa-app-footer-meta-section>
    </goa-app-footer>
  </section>
</goa-one-column-layout>
