<goab-form-item id="filterChipInput" [error]="inputError" mb="m">
  <goab-block gap="xs" direction="row" alignment="start">
    <goab-input
      name="filterChipInput"
      aria-labelledby="filterChipInput"
      [value]="inputValue"
      maxlength="100"
      size="large"
      leadingIcon="search"
      (onChange)="handleInputChange($event)"
      (onKeyPress)="handleInputKeyPress($event)"
    ></goab-input>

    <goab-button
      type="secondary"
      (onClick)="applyFilter()"
      leadingIcon="filter"
      >
      Filter
    </goab-button>
  </goab-block>
</goab-form-item>

@if (typedChips.length > 0) {
  <goa-text as="span" color="secondary" mb="xs" mr="xs">
    Filter:
  </goa-text>
  @for (typedChip of typedChips; track typedChip; let index = $index) {
    <goab-filter-chip
      [content]="typedChip"
      mb="xs"
      mr="xs"
      (onClick)="removeTypedChip(typedChip)"
    ></goab-filter-chip>
  }
  <goab-button type="tertiary" size="compact" mb="xs" (onClick)="removeAllTypedChips()">
    Clear all
  </goab-button>
}

<goab-table width="100%">
  <thead>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th class="goa-table-number-header">ID Number</th>
    </tr>
  </thead>
  <tbody>
    @for (item of dataFiltered; track item) {
      <tr>
        <td>
          <goab-badge [type]="item.status.type" [content]="item.status.text"></goab-badge>
        </td>
        <td>{{ item.name }}</td>
        <td class="goa-table-number-column">{{ item.id }}</td>
      </tr>
    }
  </tbody>
</goab-table>

@if (dataFiltered.length === 0 && data.length > 0) {
  <goab-block mt="l" mb="l">
    No results found
  </goab-block>
}

